<!DOCTYPE html>

  <body>
    <!-- footer -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-6">
            <div class="first">
              <h4>NAVIGATE</h4>
              <ul>
                <li>INSTANT Delivery</li>
                <li><a href="/">MAIN PAGE</a></li>
                <li><a href="/home">HOME</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-6 col-xs-6">
            <div class="container">
              <div class="column">
                <div class="col-12">
                  <div class="second2">
                    <a href=""> <i class="fab fa-twitter fa-3x margin"></i></a>
                    <a href="https://github.com/">
                      <i class="fab fa-github fa-3x margin"></i
                    ></a>
                    <a
                      href="https://www.linkedin.com"
                    >
                      <i class="fab fa-linkedin fa-3x margin"></i
                    ></a>
                    <a
                      href="https://www.youtube.com/"
                      ><i class="fab fa-youtube fa-3x margin"></i
                    ></a>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
